<div class="emp-container">
    <div class="emp-list">
        <span>Click on the employee name to check more info.</span>
        {{#each}}
            <div class="">
                <div class="emp-name">
                    <span class="">{{#link-to "employee" this tagName='span'}} {{FirstName}} {{LastName}} {{/link-to}}</span>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div class="emp-detail" employee-detail ng-show="showEmployee">{{outlet}}</div>

